// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------
$color: (
	typography:
		(
			1: #30323d,
			2: #768696,
			3: #9bacbd,
			1i: #fff,
			2i: rgba(#fff, 0.8)
		),
	bg: (1: #ffffff, 2: #f5f9fc, 3: #dde7ef),
	primary: (1: #4866ff, 2: #dad8ff, 3: #665df0, 4: #4866ff),
	additional: (1: #4866ff, 2: #4866ff)
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
	base: '"Fira Sans", sans-serif',
	heading: '"Fira Sans", sans-serif',
	code: 'Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace',
	pre: '"Courier 10 Pitch", Courier, monospace'
);

$font__sizes: (
	alpha: (52px, 62px, -0.1px),
	beta: (42px, 52px, -0.1px),
	gamma: (36px, 46px, -0.1px),
	delta: (24px, 34px, -0.1px),
	epsilon: (20px, 30px, -0.1px),
	zeta: (18px, 27px, -0.1px),
	eta: (15px, 22px, 0px),
	theta: (14px, 20px, 0px)
);

$font__scale: (
	desktop:
		(
			1: map-get($font__sizes, alpha),
			2: map-get($font__sizes, beta),
			3: map-get($font__sizes, gamma),
			4: map-get($font__sizes, delta),
			5: map-get($font__sizes, epsilon),
			6: map-get($font__sizes, zeta),
			7: map-get($font__sizes, eta),
			8: map-get($font__sizes, theta)
		),
	mobile:
		(
			1: map-get($font__sizes, beta),
			2: map-get($font__sizes, gamma),
			3: map-get($font__sizes, delta),
			4: map-get($font__sizes, epsilon),
			5: map-get($font__sizes, epsilon),
			6: map-get($font__sizes, zeta),
			7: map-get($font__sizes, eta),
			8: map-get($font__sizes, theta)
		)
);

$font__weight: (
	regular: 400,
	medium: 500,
	semibold: 600,
	bold: 700
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
	mobile: 16px,
	desktop: 24px
);
$container__width: 1080px;
$container__width-sm: 800px;
